<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="main :: headTag">
</head>
<body>
<div th:replace="main :: navBar"></div>

<div class="container">
    <h1 th:text="${title}">Title</h1>

    <th:block th:switch="${status}">
        <div th:case="404">
            <h2>Seite nicht gefunden.</h2>
        </div>

        <div th:case="403">
            <h2>Kein Zugriff</h2>

            <p>Sie haben nicht die notwendigen Zugangsrechte, um diese Seite zu sehen.</p>
        </div>

        <div th:case="501">
            <h2>Interner Fehler</h2>

            <div th:text="${message}">Fehlermeldung</div>

            <!-- debug information: stacktrace: -->
            <th:block th:with="e=${#vars.get('org.springframework.boot.autoconfigure.web.DefaultErrorAttributes.ERROR')}">
                <pre>
<th:block th:utext="'Exception: ' + ${e.message}">${exception.message}</th:block>
    <th:block th:each="ste : ${e.stackTrace}"><th:block
        th:utext="${ste}">${ste}</th:block></th:block>
                </pre>
            </th:block>

        </div>

        <div th:case="*">
            <h2>Interner Fehler <th:block th:text="${status}" /></h2>

            <div th:text="${message}">Fehlermeldung</div>
        </div>

    </th:block>

</div>

<div th:replace="main :: footer"></div>
</body>
</html>