<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="main :: headTag">
</head>
<body>
<div th:replace="main :: navBar"></div>

<div class="container">
    <p><a th:href="@{/exercise/admin}">Zurück zur Vorlesungsverwaltung</a></p>
    <h1>Assistenten der Vorlesung <span th:text="${exercise}"></span></h1>
    <div th:replace="main :: errorMsg"></div>
    <div id="assistanttable">
        <table class="table">
            <tr>
                <th>Nutzername</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th></th>
            </tr>
            <tr th:each="assistant : ${assistants}">
                <td th:text="${assistant.username}"></td>
                <td th:text="${assistant.firstname}"></td>
                <td th:text="${assistant.lastname}"></td>
                <td>
                    <form class="form-inline" style="display: inline-block" onsubmit="return confirm('Assistent wirklich entfernen?');" method="post" th:action="@{/exercise/{eid}/admin/assistants/{uid}/delete(eid=${exercise}, uid=${assistant.userid})}">
                        <input type="submit" class="btn btn-default" value="entfernen"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div id="assistantform">
        <form class="form-horizontal" method="post" th:action="@{/exercise/{exid}/admin/assistants(exid=${exercise})}">
            <div class="form-group">
                <label for="username" class="col-sm-1 control-label">Nutzername</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="username" name="username"/>
                </div>
            </div>
            <div class="col-sm-offset-1 col-sm-10">
                <input type="submit" class="btn btn-primary" value="hinzufügen"/>
            </div>
        </form>
    </div>
</div>

<div th:replace="main :: footer"></div>
</body>
</html>