<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="main :: headTag">
</head>
<body>
<div th:replace="main :: navBar"></div>

<div class="container-fluid">

    <p><a th:href="@{/exercise/{exid}/admin/groups/preferences(exid=${exercise})}">Zurück</a></p>
    <h1>Freunde-Graph für <th:block th:text="${exercise}"></th:block></h1>

    <div id="friends-graph">

    </div>
</div>

<div th:replace="main :: footer"></div>
<script th:src="@{/js/vivagraph.min.js}"></script>
<script th:inline="javascript">
    var graph = Viva.Graph.graph();

    [(${graphJs})]


    var graphics = Viva.Graph.View.svgGraphics();
    graphics.node(function (node) {
        // This time it's a group of elements: http://www.w3.org/TR/SVG/struct.html#Groups
        // var ui = Viva.Graph.svg('g');
            // Create SVG text element with user id as content
        var svgText = Viva.Graph.svg('text').text(node.id);
        // ui.append(svgText);
        // return ui;
        return svgText;
    });
    // graphics.placeNode(function (nodeUI, pos) {
    //     // 'g' element doesn't have convenient (x,y) attributes, instead
    //     // we have to deal with transforms: http://www.w3.org/TR/SVG/coords.html#SVGGlobalTransformAttribute
    //     nodeUI.attr('transform',
    //         'translate(' +
    //         (pos.x - nodeSize / 2) + ',' + (pos.y - nodeSize / 2) +
    //         ')');
    // });

    // To render an arrow we have to address two problems:
    //  1. Links should start/stop at node's bounding box, not at the node center.
    //  2. Render an arrow shape at the end of the link.

    // Rendering arrow shape is achieved by using SVG markers, part of the SVG
    // standard: http://www.w3.org/TR/SVG/painting.html#Markers
    var createMarker = function(id) {
            return Viva.Graph.svg('marker')
                .attr('id', id)
                .attr('viewBox', "0 0 10 10")
                .attr('refX', "10")
                .attr('refY', "5")
                .attr('markerUnits', "strokeWidth")
                .attr('markerWidth', "15")
                .attr('markerHeight', "10")
                .attr('orient', "auto");
        },

        marker = createMarker('Triangle');
    marker.append('path').attr('d', 'M 0 0 L 10 5 L 0 10 z');

    // Marker should be defined only once in <defs> child element of root <svg> element:
    var defs = graphics.getSvgRoot().append('defs');
    defs.append(marker);

    var geom = Viva.Graph.geom();
    var nodeSize = 20;

    graphics.link(function(link){
        // Notice the Triangle marker-end attribe:
        return Viva.Graph.svg('path')
            .attr('stroke', 'gray')
            .attr('marker-end', 'url(#Triangle)');
    }).placeLink(function(linkUI, fromPos, toPos) {
        // Here we should take care about
        //  "Links should start/stop at node's bounding box, not at the node center."

        // For rectangular nodes Viva.Graph.geom() provides efficient way to find
        // an intersection point between segment and rectangle
        var toNodeSize = nodeSize,
            fromNodeSize = nodeSize;

        var from = geom.intersectRect(
            // rectangle:
            fromPos.x - fromNodeSize / 2, // left
            fromPos.y - fromNodeSize / 2, // top
            fromPos.x + fromNodeSize / 2, // right
            fromPos.y + fromNodeSize / 2, // bottom
            // segment:
            fromPos.x, fromPos.y, toPos.x, toPos.y)
            || fromPos; // if no intersection found - return center of the node

        var to = geom.intersectRect(
            // rectangle:
            toPos.x - toNodeSize / 2, // left
            toPos.y - toNodeSize / 2, // top
            toPos.x + toNodeSize / 2, // right
            toPos.y + toNodeSize / 2, // bottom
            // segment:
            toPos.x, toPos.y, fromPos.x, fromPos.y)
            || toPos; // if no intersection found - return center of the node

        var data = 'M' + from.x + ',' + from.y +
            'L' + to.x + ',' + to.y;

        linkUI.attr("d", data);
    });



    var renderer = Viva.Graph.View.renderer(graph, {
        container: document.getElementById('friends-graph'),
        graphics : graphics
    });
    renderer.run();

</script>
</body>
</html>